@model IEnumerable<MyMvc.Database.Model.Countries>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsoAlpha3Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsoNumericCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LatestRecordedPopulation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Continent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subregion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastEditedByNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsoAlpha3Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsoNumericCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatestRecordedPopulation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Continent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subregion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastEditedByNavigation.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CountryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CountryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CountryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
